@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000000;
  --background-color: #ffffff;
  --dark-text-color: #ddd;
  --dark-background-color: rgb(30, 30, 30); 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
